/*Navar CSS*/

.logo {

    height: 85px;
    width: 85px;





}


header {
    background-color: #55d6aa;
    position: fixed;
    z-index: 999;
    width: 100%;
    text-align: center;
   



}

header::after {
    content: '';
    display: table;
    clear: both;


}

nav {
    float: right;
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background-color: #55d6aa;
    width: 100%;
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;

    

}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: 1em;


}

nav li {
    margin-bottom: 1em;


}

nav a {
    color: white;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    opacity: 0;
    transition: opacity 150ms ease-in-out;



}


nav a:hover {
    transition: 0.5s;
    color: black;


}

/*Mobile Functionality*/

.mobile-toggle:checked ~ nav{
    transform: scale(1,1);



}

.mobile-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;



}

.mobile-toggle {
    display: none;


}

.mobile-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;



}

.mobile-toggle-label span,
.mobile-toggle-label span::before,
.mobile-toggle-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 33px;
    border-radius: 2px;
    position: relative;



}

.mobile-toggle-label span::before,
.mobile-toggle-label span::after {
    content: '';
    position: absolute;


}

.mobile-toggle-label span::before {
    bottom: 7px;




}

.mobile-toggle-label span::after {
    top: 7px;


}

/*Mobile Slideshow*/

.slideshow {
    margin: 0;
    padding: 0;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;




}

.imgslider {

    align-items: center;
    width: 100%;
    height: 600px;
    border-radius: 5px;
    overflow: hidden;


}





.imgslides {

    width: 500%;
    height: 600px;
    display: flex;


}


.imgslides input {
    display: none;



}

.slide {

    width: 20%;
    transition: 2.5s;


}

.first_slide {

    width: 20%;
    transition: 2.5s;


}

.first_slide img {
    width: 100%;
    height: 600px;


}

.slide img {
    width: 100%;
    height: 600px;


}


.manual_sliding {
    position: absolute;
    width: 100%;
    margin-top: 550px;
    display: flex;
    justify-content: center;




}
/*Sliding buttons*/

.manual_button {
    border: 1.5px solid #55d6aa;
    padding: 7.5px;
    cursor: pointer;
    margin-right: 40px;
    border-radius: 20px;
    transition: 1.5s;



}

.manual_button:hover {

    background: #55d6aa;
    transition: 0.75s;

}

#button1:checked ~ .first_slide{
    margin-left: 0;
    


}

#button2:checked ~ .first_slide{
    margin-left: -20%;


}


#button3:checked ~ .first_slide{
    margin-left: -40%;


}

#button4:checked ~ .first_slide{
    margin-left: -60%;


}

/*Logo in the middle*/

.mainlogo {
    position: absolute;
    align: center;
    height: 350px;
    width:350px;



}


/*Making the navbar for a laptop/desktop*/

@media only screen and (min-width: 768px) {
    
    .mobile-toggle-label {
        display: none;


    }

    header {
        background-color: #55d6aa;
    position: fixed;
    z-index: 999;
    width: 100%;
    text-align: left;

    }

    .logo {
        float: left;
        height: 100%;
        align-items: center;


    }

    nav {
        all: unset;
        
    }

    nav a {
        opacity: 1;


    }

    nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
        float: right;
        height: 100%;
        text-align: center;



    }

    nav li {
        display: inline-block;
        padding: 20px;
        padding-bottom: 0;
        padding-top: 15px;
        margin-right: 20px;


    }









/*Image Slider*/


.slideshow {
    margin: 0;
    padding: 0;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;




}

.imgslider {

    align-items: center;
    width: 100%;
    height: 600px;
    border-radius: 5px;
    overflow: hidden;


}





.imgslides {

    width: 500%;
    height: 600px;
    display: flex;


}


.imgslides input {
    display: none;



}

.slide {

    width: 20%;
    transition: 2.5s;


}

.first_slide {

    width: 20%;
    transition: 2.5s;


}

.first_slide img {
    width: 100%;
    height: 600px;


}

.slide img {
    width: 100%;
    height: 600px;


}


.manual_sliding {
    position: absolute;
    width: 100%;
    margin-top: 550px;
    display: flex;
    justify-content: center;




}
/*Sliding buttons*/


/*Button styling*/

.manual_button {
    border: 5px solid #55d6aa;
    padding: 7.5px;
    cursor: pointer;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 20px;
    transition: 1.5s;



}

/*Hover effect*/

.manual_button:hover {

    background: #55d6aa;
    transition: 0.75s;

}

/*Making the slider work*/

#button1:checked ~ .first_slide{
    margin-left: 0;
    


}

#button2:checked ~ .first_slide{
    margin-left: -20%;


}


#button3:checked ~ .first_slide{
    margin-left: -40%;


}

#button4:checked ~ .first_slide{
    margin-left: -60%;


}

/*Logo in the middle*/

.mainlogo {
    position: absolute;
    align: center;
    height: 350px;
    width:350px;



}


/*Slogan*/

.slogan h1{

    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    font-size: 50px;
    text-transform: uppercase;
    





}

.slogan h2 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: normal;
    font-size: 30px;
    text-transform: uppercase;
    


}


.slogan_img {
    height: 75px;
    display: block;
    margin-left: auto;
    margin-right: auto;



}

/*Buy Button*/

.buy_button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #55d6aa;
    height: 75px;
    width: 250px;
    border: 2px solid black;
    border-radius: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color:white;
    
    



}

.buy_button:hover {
    color: black;
    transition: 0.5s;


}


.footer {

height: 300px;
width: 100%;
background-color: #55d6aa;


}

.footer h3 {
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: inline;
    float: center;
    padding: 125px;



}


.h4_1 {
    color: white;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: inline;
    float: center;
    margin-left: 125px;



}




}

body {
    margin: 0;
    
}