/*Specifications and Pricing CSS*/
/*Melina Rochon*/

/*Title bloc*/
/*Specification and Pricing bloc*/
.top{
    position:absolute;
    top: 85px;
    width: 100%;
    background-color: darkseagreen;
    height: 325px;
}

h1 {
    color: #6e6c5b;
    font-family: 'Inder', sans-serif;
    font-weight: 10; 
    font-size:70px;
    display: block;
    text-align: center;
    position:relative; 
    top: 10px;
    letter-spacing: 1px; 
    padding: 50px;   
}

body, html {
    height: 100%;
}
/*Header*/
.body{
    position: absolute;
    top: 50px;
    width: 100%;
    /*background-color: deeppink;*/
    
}

/*Background image*/
.bg{
    position: relative;
    top:300px;
}

.bg img{
    height: 100%;
    width: 100%;
    top: 85px;
    z-index: -1;
    size: cover;
    position: fixed; /*Notes: Could to a JS if statement to make the position switch from sticky to fixed*/
    
}

/*.bg{
    background-image: url("picture1_homepage.jpeg");
    height: 100%;
    width: 100%;
    top:320px;
    size: cover;
}
.bg{
    position: sticky;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    z-index: -1; Brings the text to the front
    /*overflow: hidden;
    
}*/

/*Specifications section*/
/*Text*/
.box_1{
    /*Box*/
    /*padding: 50%;
    border: 15px green;
    margin: 20px;*/
    position: relative;
    padding: 2%;
    margin: 40px;
    background-color: rgba(255, 255, 255, 0.685);
    top: 120px;
    color: black;
    z-index: -1;
}

/*Image Specifications*/
.box_1 img{
    position: absolute;
    top: 40px;
    right: 40px;
    
    
}

/*Pricing section*/
.box_2{
    position: relative;
    padding: 2%;
    margin: 40px;
    background-color: rgba(255, 255, 255, 0.685);
    top: 350px;
    color: black;
}

p {
    position:relative;
    left: 0px;
    margin-right: 40%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
    font-size: 40px;
    font-family: 'Inder', sans-serif;
    font-weight: lighter;
    color: #6e6c5b;
}

/*div.Leaf-image{
    background-image: url('picture1_homepage.jpeg');
}*/


/*Footer*/
.footer{
    position: relative;
    left: 0;
    top: 600px;
    width: 100%;
    height: 100px;
    background-color: black;
}

footer{
    color: white;
    padding: 2%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
